[Unit]
Description=Beer Machine daemon
After=tlp-init.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/python /home/pi/python.git/beer_machine.py myconfig.ini

[Install]
WantedBy=multi-user.target
