[Unit]
Description=Beer Machine daemon


[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/python /opt/beer_machine/beer_machine.py /opt/beer_machine/config.ini

[Install]
WantedBy=multi-user.target
